body
{
	color: blue;
	background-color: aquamarine;
	text-align: center;
	font-family: "Arial";
}
#container {
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0 auto;
}
